@use '../../abstracts/' as *;

.containerDays {
    @include align-justify-direction-flex(space-around, center);
    @include add-strokes-bg();

    width: 100%;
    max-width: 343px;
    min-height: 63px;
    max-height: 65px;

    padding: 0 13px;
    margin: 0;

    .day-date {
        @include align-justify-direction-flex(space-evenly, center, column);

        width: 30px;
        height: 38px;

        flex-direction: column;

        p {
            margin: 0;
            padding: 0;

        }
        p:first-child {
            font-size: 10px;

            transform: translateY(2px);
        }
    }

    .today {
        background-color: $bg-color-today;
        border-radius: 5px;

        p {
            color: $color-today-font;
            font-size: 12px;
        }
        p:last-child {
            font-weight: 600;
            font-size: 16px;
        }
    }

}