$primary-color: #202020;
$secundary-color: #EC6E4C;

$bg-color: #ffffff;
$strokes-color: #D6D6D6;

$bg-color-today: #56A3A6;
$color-today-font: #ffffff;

$bg-color-btn-play: $bg-color-today;
$bg-color-btn-pause: $secundary-color;