@use '../../abstracts/' as *;

.timerContainer {
    @include align-justify-direction-flex();
    @include add-strokes-bg();

    width: 158px;
    height: 158px;

    gap: 11px;

    .overflowContainer {
        @include align-justify-direction-flex(start, center, column);

        overflow-y: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;

        height: 158px;
        padding: 39px 0;

        .pContainer {
            @include align-justify-direction-flex();
            height: 81px;
            
            p {
                font-size: 64px;

                margin: 0;
            }
        }

        .right {
            transform: translateX(40px);
        }

        transform: translateX(20px);
    }

    .overflowContainer::-webkit-scrollbar {
        display: none;
    }

    .playButton {
        @include align-justify-direction-flex();
        @include botton-style();

        .img {
            @include imgBackground('../../../public/play.svg');
            margin-left: 3px;
        }  
    }
    .pauseButton {
        @include align-justify-direction-flex();
        @include botton-style($bg-color-btn-pause);

        .img {
            @include imgBackground('../../../public/pause.svg', 18px, 18px);
        }  
    }
}