@use '../../abstracts/' as *;

.containerAverageTemperature {
    @include add-strokes-bg();
    @include container-temperature();

    height: 144px;
    width: 166px;

    .tempWeather {
        @include align-justify-direction-flex(start, center, column);

        .climateImg {
            @include imgBackground(none, 113px, 113px);
            transform: translateY(-10px);
        }

        h2 {
            transform: translateY(-16px);
        }
        
    } 
}
  
.minMaxContainer {
    @include add-strokes-bg();
    @include align-justify-direction-flex(center, center, column);
    @include container-temperature();

    height: 144px;
    width: 166px;

    div {
        @include align-justify-direction-flex(center, start, column);

    }

    h1 {
        font-size: 0.75rem;
        font-weight: 500;
        
        transform: translateY(7px);
    }
}

.containerHumidityVisibilityWind {
    @include add-strokes-bg();
    @include align-justify-direction-flex(space-between, center, column);
    gap: 7px;
    
    width: 343px;
    height: 152px;

    padding: 16px;
    
    div {
        @include align-justify-direction-flex(space-between, center);

        width: 100%;
    }
}

@media (max-width: 728px) {
    .containerHumidityVisibilityWind {
        max-height: 110px;
    }
}